<% provide(:title, 'La Casa')%>

<div class='center hero-unit'>
  <h1>Sample Appagangam Style</h1>
  <p>This is the home page for the <a href='http://raiolstutorial.org/' rel='external'>ROR tutorial</a> sample app. So full of Noemoffiggy.</p>
  <%= link_to "Sign up nao", signup_path, class: "btn tbn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
